.landing-page {
    background-size: cover;
    background-position: center;
  }
  
  .logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  /*.footer {
    /* Styles for the footer */
    /* ... */
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }
      
      .btn:hover {
        background-color: #0056b3;
      }
  